.homework {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80%;
    background-color: burlywood;
    margin: 5px;
}

.decide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80%;
    background-color: blue;
    margin: 5px;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80%;
    background-color: yellowgreen;
    margin: 5px;
}